[submodule "Engine/ThirdParty/spdlog"]
	path = Engine/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Engine/ThirdParty/glm"]
	path = Engine/ThirdParty/glm
	url = https://github.com/g-truc/glm.git
[submodule "Engine/ThirdParty/glfw"]
	path = Engine/ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Engine/ThirdParty/volk"]
	path = Engine/ThirdParty/volk
	url = https://github.com/zeux/volk.git
[submodule "Engine/ThirdParty/Vulkan-Headers"]
	path = Engine/ThirdParty/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "Engine/ThirdParty/entt"]
	path = Engine/ThirdParty/entt
	url = https://github.com/skypjack/entt.git
[submodule "Engine/ThirdParty/assimp"]
	path = Engine/ThirdParty/assimp
	url = https://github.com/assimp/assimp.git
